<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tonjies.abase">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".MainActivity" />

        <!-- 参考Activity -->
        <activity android:name=".module.refrence.ReferenceActivity">

        </activity>

        <!--带文字进度条示例-->
        <activity android:name=".module.simple.SimpleActivity" />

        <!--简单进度条示例-->
        <activity android:name=".module.easy.EasyActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--完整diamante-->
        <activity android:name=".module.example.ExampleActivity"></activity>
    </application>

</manifest>